<template>
  <div class="grid">
    <div v-if="errorMessage" class="absolute z-30 top-10 left-10 rounded bg-red-500 text-white py-3 px-5">
      {{ errorMessage }}
    </div>
    <template v-if="!records.length">
      <div v-for="num in 20" :key="num" class="record">
        <div></div>
      </div>
    </template>
    <template v-else>
      <div v-for="record in records" :key="record.id" class="record">
        <div
          v-lazy
          :data-bg="checkUrl(record)"
          :title="record.basic_information.title"
        ></div>
      </div>
      <div v-for="num in placeholders" :key="num" class="record">
        <Observer v-if="num === 1" @observe="getReleases" />
        <div v-else></div>
      </div>
    </template>
  </div>
</template>

<script lang="ts" setup>
import { ref, computed, useStore, useRoute } from '@/imports';
import { cleanRecords, getReleases, getUser } from '@/store/api'
import Observer from '@/components/Observer.vue';
import { Release } from '@/types/discogs';
import { lazy as vLazy } from '@/utils/LazyLoad';

const route = useRoute()
const store = useStore()
// const tab = ref('collection')
const errorMessage = ref('')
const records = computed<Release[]>(() => store.state.records)
const userName = route.params.userName.toString()
const placeholders = computed(() => {
  const total = store.state.pagination && store.state.pagination.items || 0;
  return total - records.value.length;
})

function checkUrl(record: Release) {
  const url = record.basic_information.cover_image
  return url.indexOf('spacer.gif') > -1 ? '' : url;
}

cleanRecords();
getUser(userName).then((user) => {
  if (user && user.id && user.num_collection) {
    getReleases()
  } else {
    errorMessage.value = 'No collections available';
  }
}).catch(error => {
  const message = error.response.data.message || '';
  if (message) {
    errorMessage.value = message;
  }
})
</script>
