<template>
  <div class="min-h-screen flex flex-col flex-wrap items-center justify-center">
      <div class="relative">
        <form @submit.prevent="search">
          <input type="text" class="input" placeholder="discogs username" v-model="user">
          <button type="submit" class="btn">Search</button>
        </form>
        <div v-if="errorMessage" class="text-red-500 pt-5 text-center pointer-events-none">
          <span>{{ errorMessage }}</span>
        </div>
      </div>
      <div class="pt-10 text-center">
        <div v-for="(user, i) in users">
          <RouterLink :to="'/'+user" class="hover:underline mt-2 inline-block">{{ user }}</RouterLink>
          <span class="text-red-500 pl-3 cursor-pointer" @click="removeUser(i)">x</span>
        </div>
      </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, reactive } from 'vue';
import { useRouter } from 'vue-router';
import { getUser } from '@/store/api'

const user = ref('');
const errorMessage = ref('');
const router = useRouter();
const STORAGE_KEY = 'bru-discogs-save';

function fetchList() {
  return JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]') as string[];
}
function saveList(list: string[]) {
  localStorage.setItem(STORAGE_KEY, JSON.stringify(list));
}

const users = reactive(fetchList());

function removeUser(index: number) {
  users.splice(index, 1);
  saveList(users);
}

function search() {
  getUser(user.value).then((user) => {
    if (user && user.id && user.num_collection) {
      users.push(user.username);
      saveList(users);
      router.push(`/${user.username}`)
    } else {
      errorMessage.value = 'No collections available';
    }
  }).catch(error => {
    const message = error.response.data.message || '';
    if (message) {
      errorMessage.value = message;
    }
  })
}
</script>
