<template>
  <div class="observer" ref="observerEl">
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, onBeforeUnmount } from 'vue';

const emit = defineEmits([
  'observe',
]);

const observerEl = ref<Element>();
const observer = new IntersectionObserver(onElementObserved);

function onElementObserved(entries: IntersectionObserverEntry[]) {
  entries.forEach(({ isIntersecting }) => {
    if (!isIntersecting) {
      return;
    }
    emit('observe');
  });
}

onMounted(() => {
  if (observerEl.value) observer.observe(observerEl.value);
});

onBeforeUnmount(() => {
  if (observerEl.value) observer.unobserve(observerEl.value);
});
</script>
