@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-blue-900 rounded px-4 py-2 text-white mx-2;
}

.grid {
  @apply flex flex-wrap relative w-full overflow-hidden;

  &:before {
    content: '';
    @apply border-t border-l w-full h-full absolute;
  }

  .record {
    @apply block w-1/3 md:w-1/4 lg:w-1/5 relative;

    &:before {
      content: '';
      @apply border-b border-r w-full h-full absolute z-10 border-black;
    }

    &:after {
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35%;
      height: 35%;
      @apply absolute z-10 border rounded-full border-black;
    }

    div {
      padding-bottom: 100%;
      @apply w-full bg-center bg-cover relative z-20;
    }
  }
}

.input {
  @apply bg-gray-200 rounded px-4 py-2 mx-2
}
